@model 留言板實作.ViewModels.changPasswordViewModel

@{
    ViewBag.Title = @"修改密碼";
}

<h2>@ViewData["changePasswordMsg"]</h2>
<h2>修改密碼</h2>

@*建立修改密碼的表單*@
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary()

<table>
    <tr>
        <td>
            @Html.LabelFor(model => model.Password)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.NewPassword)
        </td>
        <td>
            @Html.TextBoxFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.PasswordChk)
        </td>
        <td>
            @Html.TextBoxFor(model => model.PasswordChk)
            @Html.ValidationMessageFor(model => model.PasswordChk)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="更改密碼" />
        </td>
    </tr>
</table>
}

@*匯入驗證欄位所需Javascript*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}