@model 留言板實作.ViewModels.userLoginViewModel

@{
    ViewBag.Title = "登入";
}

<h2>登入</h2>
@*建立登入所需的表單*@
@using (Html.BeginForm())
{
    @*建立登入的表格*@
<table>
    <tr>
        <td>
            @Html.LabelFor(model => model.account)
        </td>
        <td>
            @Html.TextBoxFor(model => model.account)
            @Html.ValidationMessageFor(model => model.account)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.password)
        </td>
        <td>
            @Html.TextBoxFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.ValidationSummary()
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="登入" />
            @Html.ActionLink("去註冊", "Register", "users")
        </td>
    </tr>
</table>
}

@*匯入驗證欄位所需Javascript*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
