@model 留言板實作.ViewModels.userRegisterViewModel

@{
    ViewBag.Title = "註冊";
}

<h2>註冊標題</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    @*建立註冊帳號所需表格*@
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Users.account)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Users.account)
                @Html.ValidationMessageFor(model => model.Users.account)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Users.password)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PasswordChk)
            </td>
            <td>
                @Html.PasswordFor(model => model.PasswordChk)
                @Html.ValidationMessageFor(model => model.PasswordChk)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Users.names)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Users.names)
                @Html.ValidationMessageFor(model => model.Users.names)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Users.nick)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Users.nick)
                @Html.ValidationMessageFor(model => model.Users.nick)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Users.role)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Users.role)
                @Html.ValidationMessageFor(model => model.Users.role)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Users.email)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Users.email)
                @Html.ValidationMessageFor(model => model.Users.email)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="註冊" />
            </td>
        </tr>
    </table>
}

@*匯入驗證欄位所需Javascript*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}