
@model MVC網站.ViewModels.Test1.Test1Model
@{
    Response.Write("AAA");
    //var model = (IEnumerable<MVC網站.ViewModels.Test1.Test1Model>)Model;
}

<h2>@ViewBag.Page</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<table class="table">
    Index
</table>
@{TempData["TestName"] = "Test name"; }
@{ ViewData["TestName1"] = "Test name1";}
<div>@TempData["TestName"]</div>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.name)
        <input type="text" name="name" value='@ViewData["name"]' />
        @Html.ValidationMessageFor(model => model.name)
    </div>
    <div>
        @Html.LabelFor(model => model.age)
        <input type="text" name="age" value='@ViewData["age"]' />
        @Html.ValidationMessageFor(model => model.age)
    </div>
    <div>
        @Html.LabelFor(model => model.reage)
        <input type="text" name="reage" value='@ViewData["reage"]' />
        @Html.ValidationMessageFor(model => model.reage)
    </div>
    <div>
        @Html.LabelFor(model => model.phone)
        <input type="text" name="phone" value='@ViewData["phone"]' />
        @Html.ValidationMessageFor(model => model.phone)
    </div>
    <div>
        @Html.LabelFor(model => model.Email)
        <input type="text" name="email" value='@ViewData["email"]' />
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div>
        @Html.LabelFor(model => model.Website)
        <input type="text" name="website" value='@ViewData["website"]' />
        @Html.ValidationMessageFor(model => model.Website)
    </div>
    <div>
        @Html.LabelFor(expression: model => model.file)
        @Html.EditorFor(model => model.file, new { htmlAttributes = new { type = "file" } })
        @Html.ValidationMessageFor(model => model.file, validationMessage:"")
    </div>
    <div>
        @Html.LabelFor(expression: model => model.creditcard)
        @Html.EditorFor(model => model.creditcard, new { htmlAttributes = new { type = "text" } })
        @Html.ValidationMessageFor(model => model.creditcard,validationMessage:"")
    </div>
    <div>
        @Html.LabelFor(expression: model => model.remote)
        @Html.EditorFor(model => model.remote, new { htmlAttributes = new { type = "text" } })
        @Html.ValidationMessageFor(model => model.remote)
    </div>
    <div>
        @Html.LabelFor(model => model.time)
        <input type="text" name="time" value='@ViewData["time"]' />
    </div>
    <div>
        使用者輸入姓名:@ViewData["name"]
    </div>
    <div>
        使用者輸入AGE:@ViewData["age"]
    </div>
    <div>
        使用者輸入PHONE:@ViewData["phone"]
    </div>
    <div>
        使用者輸入預約時間:@ViewData["time"]
    </div>
    <div>
        驗證訊息:@ViewData["Message"]
    </div>
    <input type="submit" value="送出" />

    @*<input type="submit" value="送出" formaction="/Home/ForContentResult1" />*@

}
