@model 留言板實作.ViewModels.guestbookInfoViewModel

@{
    ViewBag.Title = "留言列表";
}

@*載入新增資料頁面*@
    <div id="CreateData">
        @Html.Action("Create")
    </div>

<h2>留言板</h2>
@*建立搜尋表單*@
@using (Html.BeginForm("Index", "GuestBook", FormMethod.Get))
{ 
    <table>
        <tr>
            <td>
                @Html.LabelFor(model=>model.Search)
            </td>
            <td>
                @Html.TextBoxFor(model=>model.Search)
            </td>
            <td>
                <input type="submit" value="搜尋" />
            </td>
        </tr>
    </table>
}
<table>

    @*如果資料庫中不是零比資料, 則顯示資料, 並列出新增刪除修改連結*@
    @if (Model != null && !Model.guestbookInfoList.Count.Equals(0))
    {
        foreach (var item in Model.guestbookInfoList)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].ID)
                </td>
                <td>
                    @item.ID
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].names)
                </td>
                <td>
                    @item.names
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].createtime)
                </td>
                <td>
                    @item.createtime
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].postContent)
                </td>
                <td>
                    @item.postContent
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].parent)
                </td>
                <td>
                    @item.parent
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.ActionLink("修改留言", "Edit", new { id = item.ID })
                    @Html.ActionLink("回覆留言", "Reply", new { id = item.ID })
                    @Html.ActionLink("刪除留言", "Delete", new { id = item.ID })
                </td>
            </tr>
            <tr>
                <td colspan="2">====================================================</td>
            </tr>
        }
    }
    @*如果資料庫中為零筆資料, 則印出"資料庫中查無資料"*@
    else
    {
        <tr>
            <td colspan="2">
                資料庫內查無資料
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("首頁", "Index")
</div>
@*匯入驗證欄位所需Javascript*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}