@model 留言板實作.ViewModels.guestbookViewModel

@{
    ViewBag.Title = "Index";
}

<h2>留言板</h2>
<table>
    
    @*如果資料庫中不是零比資料, 則顯示資料, 並列出新增刪除修改連結*@
    @if (!Model.guestbookList.Count.Equals(0))
    {
        foreach (var item in Model.guestbookList)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookList)
                </td>
                <td></td>
            </tr>
        }
    }
     @*如果資料庫中為零筆資料, 則印出"資料庫中查無資料"*@
    else
    { }
</table>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>guestbookViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
