@model 留言板實作.ViewModels.guestbookInfoViewModel

@{
    ViewBag.Title = "Index";
}

@*載入新增資料頁面*@
    <div id="CreateData">
        @Html.Action("Create")
    </div>

<h2>留言板</h2>

<table>

    @*如果資料庫中不是零比資料, 則顯示資料, 並列出新增刪除修改連結*@
    @if (Model != null && !Model.guestbookInfoList.Count.Equals(0))
    {
        foreach (var item in Model.guestbookInfoList)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].names)
                </td>
                <td>
                    @item.names
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].createtime)
                </td>
                <td>
                    @item.createtime
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].postContent)
                </td>
                <td>
                    @item.postContent
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.guestbookInfoList[0].parent)
                </td>
                <td>
                    @item.parent
                </td>
            </tr>
            <tr>
                <td colspan="2">====================================================</td>
            </tr>
        }
    }
    @*如果資料庫中為零筆資料, 則印出"資料庫中查無資料"*@
    else
    {
        <tr>
            <td colspan="2">
                資料庫內查無資料
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("首頁", "Index")
</div>
@*匯入驗證欄位所需Javascript*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}