@model 留言板實作.ViewModels.guestbookInfoViewModel

    <div id="DataList">

        @*建立搜尋表單, 使用AjaxHelper*@
        @using (Ajax.BeginForm("List", "GuestBook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" }))
        {
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Search)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Search)
                    </td>
                    <td>
                        <input type="submit" value="搜尋" />
                    </td>
                </tr>
            </table>
        }
        <table>

            @*如果資料庫中不是零比資料, 則顯示資料, 並列出新增刪除修改連結*@
            @if (Model != null && !Model.guestbookInfoList.Count.Equals(0))
            {
                foreach (var item in Model.guestbookInfoList)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.guestbookInfoList[0].ID)
                        </td>
                        <td>
                            @item.ID
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.guestbookInfoList[0].names)
                        </td>
                        <td>
                            @item.names
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.guestbookInfoList[0].createtime)
                        </td>
                        <td>
                            @item.createtime
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.guestbookInfoList[0].postContent)
                        </td>
                        <td>
                            @item.postContent
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.guestbookInfoList[0].parent)
                        </td>
                        <td>
                            @item.parent
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ActionLink("修改留言", "Edit", new { id = item.ID })
                            @if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("回覆留言", "Reply", new { id = item.ID })
                                @Html.ActionLink("刪除留言", "Delete", new { id = item.ID })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">====================================================</td>
                    </tr>
                }
            }
            @*如果資料庫中為零筆資料, 則印出"資料庫中查無資料"*@
            else
            {
                <tr>
                    <td colspan="2">
                        資料庫內查無資料
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">
                    @if (Model != null && !Model.guestbookInfoList.Count.Equals(0))
                    {
                        @*若目前所在頁大於1則顯示回到第一頁*@
                        if (Model.pages.CurrentPage > 1)
                        {
                            @Ajax.ActionLink(" 第一頁 ", "List", new { search = Model.Search, page = 1 }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                            @Ajax.ActionLink(" 上一頁 ", "List", new { search = Model.Search, page = Model.pages.CurrentPage - 1 }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                        }
                        @*顯示當前頁次前後各五頁*@
                        for (var p = Model.pages.CurrentPage - 5; p < Model.pages.CurrentPage + 5; p++)
                        {
                            if (p > 0 && p < Model.pages.MaxPage + 1)
                            {
                                if (p == Model.pages.CurrentPage)
                                {
                                    <b>@p</b>
                                }
                                else
                                {
                                    @Ajax.ActionLink(p.ToString(), "List", new { search = Model.Search, page = p.ToString() }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                                }
                            }
                        }
                        @*若目前所在頁小於最大頁則顯示到最後頁*@
                        if (Model.pages.CurrentPage < Model.pages.MaxPage)
                        {
                            @Ajax.ActionLink(" 下一頁 ", "List", new { search = Model.Search, page = Model.pages.CurrentPage + 1 }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                            @Ajax.ActionLink(" 最後一頁 ", "List", new { search = Model.Search, page = Model.pages.MaxPage }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                        }
                    }
                </td>
            </tr>
        </table>

    </div>